<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel='stylesheet' href='/stilus.css' >

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">

    <title>Foglalások</title>
</head>

<nav>
    <div class="navigacio">
        <a href="index_site">Főoldal</a>
        <a href="ugyfel_site">Ügyfél</a>
        <a href="jaratok_site">Járatok</a>
        <a href="foglalasok_site">Foglalások</a>
        <a href="szallasok_site">Szállások</a>
    </div>
</nav>

<body style="background:#e7dbcd">
<h1>Foglalasok</h1>
</body>
</html>