<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel='stylesheet' href='/stilus.css' >

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">

    <title>Foglalások</title>
</head>

<nav>
    <div class="navigacio">
        <a href="index_site">Főoldal</a>
        <a href="ugyfel_site">Ügyfél</a>
        <a href="jaratok_site">Járatok</a>
        <a href="foglalasok_site">Foglalások</a>
        <a href="szallasok_site">Szállások</a>
    </div>
</nav>

<body style="background:#e7dbcd">
<div style="margin-left: 20px">
    <h2>Járat foglalás:</h2>

    <form action="#" th:action="@{/foglalas_hozzaadasa}" method="post">

        <label for="foglalas_ugyfel">Ügyfél:</label>

        <select name="foglalo_ugyfel" id="foglalas_ugyfel">
            <option th:each="ugyfel: ${foglalas_ugyfelek}" th:value="${ugyfel.ugyfel_azonosito}" th:name="${ugyfel.ugyfel_azonosito}" th:text="${ugyfel.nev}">
            </option>
        </select>
            <br>
        <label style="margin-top: 30px" for="foglalas_jarat">Járatok:</label>

        <select name="foglalo_jarat" id="foglalas_jarat">
            <option th:each="jarat: ${foglalas_jaratok}" th:value="${jarat.jarat_szam}" th:name="${jarat.jarat_szam}" th:text="|Járat szám: ${jarat.jarat_szam},
            Induló város: ${jarat.indulovaros_string}, Végállomás: ${jarat.vegallomasvaros_string}, Indulás: ${jarat.indulas_ideje}, Tipus: ${jarat.jarat_tipus}|">
            </option>
        </select>

        <br><br>
        <input type="submit" value="Elküld">
    </form>
</div>

<div style="margin-left: 20px; margin-top: 30px">
    <h2>Foglalások:</h2>
    <table class="table" style="border: black">
        <thead class="thead-dark">
        <tr>
            <th>Név</th>
            <th>Járatszám:</th>
            <th>Induló város:</th>
            <th>Végállomás város:</th>
            <th>Indulás ideje:</th>
            <th>Érkezés ideje:</th>
            <th>Foglalás időpontja:</th>
            <th>Törlés:</th>
        </tr>
        </thead>
        <tbody style="width: 20%; margin: 50px;padding: 80px">
        <!--span th:each="task,iter : ${foo.tasks}"-->
        <tr th:each="jegyek: ${foglalt_jegyek}">
            <td th:text="${jegyek.ugyfel_nev_string}"></td>
            <td th:text="${jegyek.jaratszam_string}"></td>
            <td th:text="${jegyek.indulovaros_string}"></td>
            <td th:text="${jegyek.vegallomasvaros_string}"></td>
            <td th:text="${jegyek.indulas_ideje_string}"></td>
            <td th:text="${jegyek.erkezes_ideje_string}"></td>
            <td th:text="${jegyek.foglalas_idopontja}"></td>
            <td>
                <a th:href="@{'/foglalasok_site_delete/' + |${jegyek.jaratszam_string},${jegyek.ugyfel_azonosito},${jegyek.foglalas_idopontja},${jegyek.helyszam}|}">Törlés</a>
            </td>
        </tr>
        </tbody>
    </table>

</div>


</body>
</html>